page-other-visit {
    ion-input {
        border: 1px;
        background-color: linen;
    }
    div {
        width: 100%;
    }
    small {
        font-size: 0.8em;
        color: red;
    }

    ion-label, .select-text {
        margin-left: 10px;
    }

    ion-select, ion-textarea {
        background-color: #f2f2f2;
        padding: 5px 10px;
    }

    .invalid {
        border: 1px solid #ea6153;
    }
}