<ion-header>
  <ion-navbar>
    <ion-title>פרטי ביקור בית</ion-title>
  </ion-navbar>
</ion-header>

<ion-content dir="rtl" *ngIf="task">
  
  <ion-list>
   
      <ion-list-header color="primary">  </ion-list-header>
      <ion-list-header color="primary"> פרטי לקוח </ion-list-header>
    
    <ion-item>
      <p>שם לקוח</p>
      <h3>{{task.AccountFullName}}</h3>
    </ion-item>

    <ion-item>
      <p>ת.ז. לקוח</p>
      <h3>{{task.AccountIdNumber}}</h3>
      </ion-item>
    
      <ion-item>	  
          <p>טלפון</p>
          <h3 (click)="OpenDialer(task.AccountPhone)">{{task.AccountPhone}}
          </h3>
      </ion-item> 
    
      <ion-item>  
        <p>טלפון נייד</p>
        <h3 (click)="OpenDialer(task.AccountMobilePhone)">{{task.AccountMobilePhone}}
        </h3>
      </ion-item> 

      <ion-item>  
        <p>טלפון נוסף</p>
        <h3 (click)="OpenDialer(task.AccountAdditionalPhone)">{{task.AccountAdditionalPhone}}
        </h3>
      </ion-item> 

      <ion-item>	  
          <p>כתובת</p>
          <h3>{{task.City}}  {{task.Street}}  {{task.HomeNumber}} </h3>
        </ion-item>  

        <ion-item>	  
            <p>דירה</p>
            <h3>{{task.Apartment}} </h3>
        </ion-item>

        <ion-item>	   
            <p>מצב משפחתי</p>
            <h3 (click)="OpenDialer(task.MaritialStatus)">{{task.MaritialStatus}}</h3>
        </ion-item>  

        <ion-item>	  
            <p>ערירי</p>
            <ion-badge [color]="getYesNoColor(task.is_alone)">{{task.IsAlone | hebrewBool}}</ion-badge>
         </ion-item>   

         <ion-item>	  
            <p>בסיכון</p>
            <ion-badge [color]="getYesNoColor(task.is_danger)">{{task.IsInRisk | hebrewBool}}</ion-badge>
            </ion-item>  

            <ion-item>	  
                <p>ניצול שואה</p>
                <ion-badge [color]="getYesNoColor(task.is_survivor)">{{task.IsHolocaustSurvivor | hebrewBool}}</ion-badge>
           </ion-item> 
           
          <ion-item>	  
            <p>כשיר לשיחת טלפון</p>
            <ion-badge [color]="getYesNoColor(task.IsAccountAbleToAnswer)">{{task.IsAccountAbleToAnswer | hebrewBool}}</ion-badge>
          </ion-item>  

          <ion-item>		  
            <p>ימי ביקור במרכז יום</p>
            <h3>{{task.VisitInDayCenterDays}}</h3>
            </ion-item>		  
       

            <ion-item>	  
              <p> שם איש קשר ראשי</p>
              <h3>{{task.ContactName}}</h3>
              </ion-item>  
            
            <ion-item>	  
              <p>טלפון איש קשר ראשי</p>
              <h3>{{task.ContactPhone}}  {{task.ContactMobilePhone}}  </h3>
              </ion-item>
   </ion-list>
   <ion-list>
            <ion-list-header color="primary">פרטי ביקור</ion-list-header>
          <ion-item>	  
            <p>תאריך ביקור לביצוע</p>
            <h3 value="">{{task.NextVisitDate | date:'dd-MM-yyyy'}}  </h3>
            </ion-item>	

            <ion-item>		  
                <p>תאריך ביקור בית אחרון</p>
                <h3>{{task.PreviousVisitDate | date:'dd-MM-yyyy'}}</h3>
            </ion-item>	

          <ion-item>	
              <p>ימים שחלפו מביקור קודם</p>
              <h3>{{task.DaysPassedFromLastVisit}}</h3>
          </ion-item>		  
        
          <ion-item>		  
              <p>תדירות ביקורים</p>
              <h3>{{task.FrequencyHouseCall}}</h3>
          </ion-item>	

          <ion-item>		  
            <p>תיאום ביקור עם הלקוח</p>
            <ion-badge [color]="getYesNoColor(task.IsCoordinateWithAccount)">{{task.IsCoordinateWithAccount | hebrewBool}}</ion-badge>
          </ion-item>	
        
          <ion-item>		  
            <p>נדחה עקב שבת או חג</p>
            <ion-badge [color]="getYesNoColor(task.DelayedDueToHoliday)">{{task.DelayedDueToHoliday | hebrewBool}}</ion-badge>
          </ion-item>
        
          <ion-item>		  
            <p>נדרשת נוכחות מטפל/ת</p>
            <ion-badge [color]="getYesNoColor(task.IsNurseRequired)">{{task.IsNurseRequired | hebrewBool}}</ion-badge>
          </ion-item>		 
        
          <ion-item>		  
            <p>העדרות לאחר ביקור אחרון</p>
            <ion-badge [color]="getYesNoColor(task.IsAccountAbsenceSinceLastVisit)">{{task.IsAccountAbsenceSinceLastVisit | hebrewBool}}</ion-badge>
          </ion-item>	

          <ion-item>		  
            <p>הערות לביקור</p>
            <h3>{{task.Comments}}</h3>
          </ion-item>

          <ion-item>		  
            <p>הערות מהזדמנות בהעברה לסניף</p>
            <h3>{{task.MashlatRemark}}</h3>
          </ion-item>	

          <ion-item>		  
            <p>סוג הביקור</p>
            <h3>{{task.VisitType}}</h3>
          </ion-item>		  	  
    </ion-list>
    
  <ion-list no-lines>
           <ion-list-header color="primary">פרטי תוכנית</ion-list-header>	
           <ion-item>	
             <button  fab-cente ion-button class="buttons" (click)="fillReport()">מלא דיווח לביקור</button>
           </ion-item>	
           <ion-item>	</ion-item>	
  </ion-list>	 
</ion-content>